workbook.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="com.fipsoftware.workbook.model.WorkBook" type="com.fipsoftware.workbook.model.WorkBookType"/>
  <xs:complexType name="com.fipsoftware.workbook.model.WorkHistoryType">
    <xs:sequence>
      <xs:element type="xs:string" name="companyName"/>
      <xs:element type="xs:string" name="position"/>
      <xs:element type="xs:string" name="salary"/>
      <xs:element type="xs:string" name="workFrom"/>
      <xs:element type="xs:string" name="workUntil"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="com.fipsoftware.workbook.model.WorkBookType">
    <xs:sequence>
      <xs:element type="xs:string" name="SocialSecurity"/>
      <xs:element type="xs:string" name="firstName"/>
      <xs:element type="xs:string" name="lastName"/>
      <xs:element type="xs:string" name="dateOfBirth"/>
      <xs:element type="xs:string" name="photo"/>
      <xs:element type="workHistoriesType" name="workHistories"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="workHistoriesType">
    <xs:sequence>
      <xs:element type="com.fipsoftware.workbook.model.WorkHistoryType" name="com.fipsoftware.workbook.model.WorkHistory"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="class"/>
  </xs:complexType>
</xs:schema>