XmlAndJsonFiles/workbook.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="com.fipsoftware.workbook.model.WorkBook">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:byte" name="id"/>
        <xs:element type="xs:string" name="SocialSecurity"/>
        <xs:element type="xs:string" name="firstName"/>
        <xs:element type="xs:string" name="lastName"/>
        <xs:element type="xs:string" name="dateOfBirth"/>
        <xs:element type="xs:string" name="photo"/>
        <xs:element name="workHistory">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="com.fipsoftware.workbook.model.WorkHistory" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:byte" name="id"/>
                    <xs:element type="xs:byte" name="workBookId"/>
                    <xs:element type="xs:string" name="companyName"/>
                    <xs:element type="xs:string" name="position"/>
                    <xs:element type="xs:int" name="salary"/>
                    <xs:element type="xs:string" name="workFrom"/>
                    <xs:element type="xs:string" name="workUntil"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:string" name="class"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>